node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env*.local
.vercel
.turbo
*.log
.DS_Store
coverage/
.idea/
.vscode/
.claude/
prisma/migrations/dev.db*
tsconfig.tsbuildinfo

# Serwist generated service worker
public/sw*
public/swe-worker*
